*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body,html{
    height:100%;
    width: 100%;
}


.nav-bar{
    display:flex;
    height:50px;
    width:100%;
    top:0px;
    position:fixed;
    background-color:purple ;
    z-index: 1;
}
.nav-links{
    display:flex;
    justify-content: space-around;
    width:75%;
    right:0;
    align-items:center;
}
.nav-links a{
    color:white;
    /* text-decoration: none;  */
   
}
.nav-links li{
    list-style:none;
}
.logo{
    padding-top:15px;
    padding-left:10px;
    left:50px;
    width:35%;
    color:white;

}
.para{
    position:absolute;
    top:50px;
    font-size:30px;
    font-weight: 100;
    background-image:url(./pic.webp); 
    background-size: cover;
    height: 200%;
    width:100%;
}
.menu{
    display:none;
    right:10px;
    top:20px;
    position:absolute;
    color:white;

}
@media(max-width:580px){
    .menu{
        display:flex;
        
    }
    .nav-links{
        display:none;
        background-color: rgba(0,0,0,0.5);
        position:fixed;
        height:75%;
        width:50%;

    }
    .nav-links.active{
        display:flex;
        flex-direction:column;
        align-items:center;

    }
}


